body {
  margin: 0; 
}

#container {
  display: flex;
  height: 100dvh; 
}

#selection-section {
  flex: 40%;
  background-color: black;
  padding-left: 5%;
  padding-right: 5%;
}

#result-section {
  flex: 60%;
  display: inline-block;
  background-color: rgb(229, 145, 230);
}

#header {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  line-height: 0.8;
  margin-bottom: 30%;
  margin-top: 10%;
}

#image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
}

#image-container img {

  width: 90%; 
  height: 90%; 
  object-fit: cover; 
}

#form {
    padding: 20px;
    border: 4px solid rgb(229, 145, 230);
    border-radius: 5px;    
    font-size: 34px;
  }

  #form select, #form input {
    width: 100%;
    margin-bottom: 10px;
  }
